body{
    background: linear-gradient(35deg,rgb(77,77,77),rgb(58,58,58));
}
#page-logo a{
    color: rgb(123, 213, 213);
}
header{
    position: static;
}
header a{
    color: rgb(99, 202, 202);
}
header nav a:hover{
    background-color: rgb(99, 202, 202);
    color: rgb(59,59,59);
}
main ul{
    list-style: none;
    width: 1200px;
    margin: 0 auto 48px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 20px;
}
li:nth-of-type(3){
    grid-column: 1 / span 2;
}
main li{
    display: flex;
    background-color: white;
    box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.2);
    border-radius: 6px;
    overflow: hidden;
    
}
main li img{
    width: 280px;
    height: 280px ;
    object-fit:cover;
}
main p{
    margin: 0;
}



#item-content{
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.action{
    text-align: right;   
}
.action a{
    text-decoration: none;
    padding: 6px;
    color: rgb(22, 211,228);
}
.action a:hover{
    background-color: rgb(235, 253, 255);
}

footer ul{
    list-style: none;
}